<button mat-icon-button (click)="addNewPlaceDialog()">
  <mat-icon>add_circle_outline</mat-icon>
</button>

<nav mat-tab-nav-bar mat-align-tabs="center">
  <a mat-tab-link
     *ngFor="let pl of places"
     [routerLink]="['/place', pl.id]"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    {{pl.name | uppercase}}
    <button mat-icon-button (click)="deleteItem(pl)">
      <mat-icon>delete</mat-icon>
    </button>
  </a>
</nav>
<router-outlet></router-outlet>

<!--<mat-tab-group>-->
<!--<mat-tab *ngFor="let place of places" label="{{place.name}}">-->
<!--<ng-template matTabContent>-->
<!--{{place.id}} - {{place.name}}-->
<!--</ng-template>-->
<!--</mat-tab>-->
<!--</mat-tab-group>-->
